<div class="container">

  <!-- <app-observable-demo></app-observable-demo> -->

  <app-register></app-register>

  <!-- <hr> -->
  <app-login></app-login>

  <hr>
  <!-- <app-pipe-demo> !-->

  <h1 appHighlight [bgColor]="'yellow'">App Component </h1>
  <!-- <h1 [ngClass] = "myClasses" >App Component </h1> -->
  <!-- <h1 [ngStyle] = "myStyles">App Component </h1> -->
  <button (click)="toggleClasses()">Toggle Classes</button>
  <br>

  <input type="text" [(ngModel)]="title">

  <button (click)="showUser = !showUser">Toggle User</button>

  <!-- <div *ngIf="showUser"> -->
  <div *ngIf="authService.isAuthenticated()">
    <app-users [title]="title"></app-users>
  </div>
</div>
