<ng-content select="header"></ng-content>

<h2> {{ user.firstName }} {{ user.lastName }}</h2>

<!-- <ng-content select=".main-content"></ng-content> -->
<ng-content></ng-content>

    <p >Date of Birth : <span [innerHTML]="user.dob"></span></p>



<p *ngIf="user.isWorking; else ElseTemplate">Income : {{ user.income }}</p>

<!-- Desugar Syntax -->

<!-- <ng-template [ngIf]="user.isWorking">
  <p>Desugar Syntax</p>
</ng-template> -->

<p>Total Votes : {{ user.vote}} <br>
  <input type="number" [value]="user.vote" (change)="user.vote = $event.target.value">
  <input type="number" [(ngModel)]="user.vote">
</p>

<ng-template #ElseTemplate>
  <p>Mr. {{user.lastName}} is not working now!</p>
</ng-template>

<ng-content select="footer"></ng-content>


<!-- <div [ngSwitch]="user.firstName">
  <div *ngSwitchCase="'Bill'">Output 1</div>
  <div *ngSwitchCase="'Steve'">Output 2</div>
  <div *ngSwitchDefault>Default Case</div>
</div> -->
