<p>pipe-demo works!</p>

<!-- <h1>Promise : {{ promise | async | uppercase  }}</h1> -->

<!-- <h1> Contact Number  : {{ contact_no | nationalcode : 'US' }}</h1> -->

<br>

<input type="text" class="fomr-control" [(ngModel)] = "filterStatus">
<button (click) = "addNewItem()">Add New Item</button>

<ul class="list-unstyled list-group">
  <li *ngFor="let todo of todos | filter: filterStatus" class="list-group-item">
    {{ todo.label }}
    <span class="badge">{{todo.status }} </span>
  </li>
</ul>




<!-- npm install serve -g -->
